<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape NewData!</a></p>
    </div>
    <div class="row">
      <div class="col">
        <h2>Latest Mars News</h2>
        <p><h3>{{mars.news_title}}</h3></p>
        <p>{{mars.news_p}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <h2>Featured Mars Image</h2>
        <img src={{mars.featured_image_url}}>image</img>     
      </div>
      <div class="col-sm-4">        
          <h3>Current Weather on Mars</h3>
          <p>{{mars.mars_weather}}</p>
          <hr>
          <br>          
          <h3>Mars Facts</h3>
          <p>{{mars.fact_table}}</p>                 
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="container">
          <div class="row">
            <h3>Mars Hemispheres</h3>
            <hr>
          </div>
          <div class="row">
            <div class="col">
              <img src ={{mars.}}>
            </div>

            <div class="col">
              <img src ={{mars.}}>
            </div>
            <div class="w-100"></div>
            <div class="col">
              <img src ={{mars.}}>
            </div>
            <div class="col">
              <img src ={{mars.}}>
            </div>
          </div>
        </div>
        
        
         
    </div>
    
    
  </div>
  </div>
</body>

</html>
