<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Mission to Mars</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
</head>

<body>
  <div class="container-fluid">
    <div class="jumbotron text-center">
      <h1>Mission to Mars</h1>
      <p><a class="btn btn-primary btn-lg" href="/scrape" role="button">Scrape NewData!</a></p>
    </div>
    <div class="row">
      <div class="col">
        <h1>Latest Mars News</h1>
        <p><h3 class="heading"> {{mars.news_title}}</h3></p>
        <p>{{mars.news_p}}</p>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-8">
        <h1 class="heading" >Featured Mars Image</h1>
        <img src="{{mars.featured_image_url}}" alt="Featured Image">  
      </div>
      <div class="col-sm-4">        
          <h1>Current Weather on Mars</h1>
          <hr>
          <p>{{mars.mars_weather}}</p>
          <hr>
          <br>
          <table border="1" class="table-responsive table-hover">
            <thead class="thead-light">
             <tr>   
                <th>Description</th>
                <th>Value</th>
             </tr>    
            </thead>
            <tbody>
              <tr>
                <td>{{mars.fact_table}}</td>
                <td>{{mars.facct_table</td>
              </tr>                     
      </div>
    </div>
    
    <div class="row">
      <h1 class="heading">Mars Hemispheres</h1>
      {% for Hemisphere in mars.hemisphere_image_urls %}
      <div class="col-sm-6">
        <img src = "{{Hemisphere.img_url}}" alt = {{Hemisphere.title}} height="450" width="450">
        <hr>
        <footer> {{Hemisphere.title}}</footer>
        <hr>
        <hr>
      </div>
      {% endfor %}
    </div>
 </div>
</body>

</html>
